.projects {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 0.1rem 0 1rem 0;
    margin-top: 1rem;
    border-radius: 10px;
    border-bottom: 1px solid gray;
}

.projects h3 {
    font-size: 2em;
}

.projects p {
    font-size: 1.3em;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 0 2rem 0;
    font-weight: 600;
    text-shadow: 1px 1px 10px;
    color: #fff;
    filter: opacity(.8);
}

.grid-cards {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 540px 0;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.grid-cards-2 {
    display: grid;
    grid-template-columns: 91%;
    grid-template-rows: 700px 0;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.grid-cards-mobile {
    display: none;
}

.mobile-information {
    display: none;
}

@media (width >= 280px) and (width <= 1023px) {
    .grid-cards {
        display: none;
    }

    .grid-cards-2 {
        display: none;
    }

    .mobile-information {
        display: block;
    }

    .display-block-mobile {
        display: block;
        margin: 1rem 0;
        padding: 1rem 0;
    }
}